@font-face {
  font-family: 'china';
  src:  url('../fonts/china.eot?7g1sji');
  src:  url('../fonts/china.eot?7g1sji#iefix') format('embedded-opentype'),
    url('../fonts/china.ttf?7g1sji') format('truetype'),
    url('../fonts/china.woff?7g1sji') format('woff'),
    url('../fonts/china.svg?7g1sji#china') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'china' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e901";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-phone:before {
  content: "\f095";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-border_all:before {
  content: "\e228";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_railway:before {
  content: "\e534";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-filter_tilt_shift:before {
  content: "\e3e2";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-g_translate:before {
  content: "\e927";
}
.icon-goat:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e88a";
}
.icon-hot_tub:before {
  content: "\eb46";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-school:before {
  content: "\e80c";
}
.icon-share:before {
  content: "\e80d";
}
.icon-tune:before {
  content: "\e429";
}
.icon-weekend:before {
  content: "\e16b";
}
.icon-credit:before {
  content: "\e903";
}
.icon-export:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e905";
}
.icon-home2:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-sound-mix:before {
  content: "\e909";
}

